.Tooltip {
    position: fixed;
    display: none;
    grid-template-columns: 0fr 1fr;
    color: var(--color-gray-900);
    background: var(--color-gray-200);
    padding: 1em;
    box-shadow: 2px 2px 2px black;
    width: 260px;
    pointer-events: none;
}
