@import '@master/normal.css';

#tooltip {
    position: fixed;
    display: none;
    grid-template-columns: 0fr 1fr;
    background: rgba(255, 255, 255, 0.6);
    padding: 1em;
    box-shadow: 2px 2px 2px black;
    width: 260px;
    pointer-events: none;
}

#tooltip div {
    padding-left: 5px;
}

#tooltip div:nth-child(odd) {
    text-align: right;
}
