.ScrollArea {
    box-sizing: border-box;
    width: 24rem;
    max-width: calc(100vw - 8rem);
}

.Viewport {
    height: 100%;
    border-radius: 0.375rem;
    outline: 1px solid var(--color-gray-200);
    outline-offset: -1px;
    overscroll-behavior: contain;

    &:focus-visible {
        outline: 2px solid var(--color-blue);
    }
}

.Content {
  display: flex;
  flex-direction: column;
}

.Scrollbar {
    display: flex;
    justify-content: center;
    background-color: var(--color-gray-200);
    width: 0.25rem;
    border-radius: 0.375rem;
    margin: 0.5rem;
    opacity: 0;
    transition: opacity 150ms 300ms;
    pointer-events: none;

    &[data-hovering],
    &[data-scrolling] {
        opacity: 1;
        transition-duration: 75ms;
        transition-delay: 0ms;
        pointer-events: auto;
    }

    &::before {
        content: '';
        position: absolute;
        width: 1.25rem;
        height: 100%;
    }
}

.Thumb {
    width: 100%;
    border-radius: inherit;
    background-color: var(--color-gray-500);
}
